<%- include("./partials/header") %>

<div class="container mt-5">
	<h1 style="color: #3b3b3b">Welcome to login and Register System!</h1>
	<a href="/login" class="btn btn-primary active">sign in</a>
	<a href="/register" class="btn btn-danger">Sign up</a>
</div>

<%- include("./partials/footer") %>
